<template>
<footer class="footer mt-auto py-3">
    <div class="container">
        <!-- <span class="text-muted">Place sticky footer content here.</span> -->
    </div>
</footer>
</template>

<script>
export default {
    
}
</script>