<template>
<div>
    <navigation :appname='appname'></navigation>

    <div class="container"> <br> <br> <br> <br> </div> <!-- top spacing -->

    <router-view></router-view>

    <foot></foot>
</div>
</template>

<script>

import navigation from './Navs'
import foot from './Footer'
import login from './auth/Login'

export default {
    props: ['appname'],
    components: {
        navigation,foot,login
    },
}

</script>
