<template>
<div id="navigation-bar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
	<div class="container">
		<div class="row">
		<div class="col-4">
			<h5 id="app-title" class="my-0 mr-md-auto font-weight-normal">
				<a href="/">{{ appname }}</a>
			</h5>
		</div>
		<div class="col-8">
			<nav class="my-2 my-md-0 mr-md-3 text-right">
				<router-link v-for="item in items" :key="item.title" 
				:to="item.to" 
				v-if="item.show" 
				class="p-2 text-dark">{{ item.title }}</router-link>
			</nav>
		</div>
	</div>
	</div>
</div>
</template>

<script>
export default {
	props: ['appname'],
	data (){
		return {
			items : [
				{title : 'Home', to : '/home', show : true},
				// {title : 'Ask Question', to : '/ask', show : User.loggedIn()},
				// {title : 'Find a Mentor', to : '/find-mentor', show : User.loggedIn()},
				{title : 'My Mentors', to : '/my-mentors', show : User.loggedIn() && User.roleName() == 'student'},
				{title : 'My Students', to : '/my-students', show : User.loggedIn() && User.roleName() == 'mentor'},
				// {title : 'Tags', to : '/categories', show : User.loggedIn()},
				{title : 'Signup', to : '/signup', show : !User.loggedIn()},
				{title : 'Login', to : '/login', show : !User.loggedIn()},
				{title : 'Profile', to : '/profile', show : User.loggedIn() && !User.isAdministrator()},
				{title : 'Admin Tools', to : '/admin', show : User.isAdministrator()},
				{title : 'Logout', to : '/logout', show : User.loggedIn()},
			]
		}
	},
	created(){
		EventBus.$on('logout',()=>{
			User.logout()
		})

		// console.log(User.isAdministrator())
	}
}
</script>
<style>
/* div#navigation-bar{
	background:rgb(128,0,0) !important;
}
div#navigation-bar *{
	color: #fff !important;
} */
h5#app-title a{
	color: #222;
}
h5#app-title a:hover{
	text-decoration: none;
}
</style>