<template>
    <div class="container-fluid">
        <div>
            <h1>Registered Accounts</h1>
            <p>This are the list of registered accounts in this forum</p>
        </div>
        <div>
            <b-form-input v-model="search" placeholder="Find a person"></b-form-input>
        </div>
        <b-table striped hover bordered 
            :items="users" 
            :filter="search" 
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
        ></b-table>

        <div class="row">
            
            <div class="col-4">&nbsp;</div>
            
            <div class="col-4" style="text-align:center;">
                <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                class="accounts-page"
                ></b-pagination>
            </div>

            <div class="col-4">&nbsp;</div>

        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            fields: [
                {
                    key: 'name',
                    sortable: true
                },
                {
                    key: 'student_no',
                    sortable: true
                },
                {
                    key: 'email',
                    sortable: false
                },
                {
                    key: 'active',
                    sortable: false
                },
                {
                    key: 'confirmed',
                    sortable: false
                },
                {
                    key: 'created_at',
                    sortable: true
                },
            ],
            users : [],
            search : null,
            currentPage: 1,
            totalRows: 1,
            perPage: 10
        }
    },
    created(){
        axios.get('/api/auth/account').then(res => {
            this.users = res.data
            this.totalRows = this.users.length
        console.log(this.users.length)
        })
    },
    mounted(){
    },
    computed: {
    }
}
</script>

<style>

</style>