<template>
    <div class="container">
        <b-card-group deck>

            <b-card title="Accounts" header-tag="header" footer-tag="footer">
                <template v-slot:header>
                    <h6 class="mb-0">Account Masterlist</h6>
                </template>
                <b-card-text>User account behavior including email confirmation, and users data.</b-card-text>
                <template v-slot:footer>
                    <b-button href="/admin/accounts-list" variant="danger" size='sm'> <i class="fa fa-users"></i> Show</b-button>
                </template>
            </b-card>

            <b-card title="Reports" header-tag="header" footer-tag="footer">
                <template v-slot:header>
                    <h6 class="mb-0">Reported Users</h6>
                </template>
                <b-card-text>List of reported users.</b-card-text>
                <template v-slot:footer>
                    <b-button href="/admin/accounts-report" variant="danger" size='sm'> <i class="fa fa-user-slash"></i> Show</b-button>
                </template>
            </b-card>

            <b-card title="Tags" header-tag="header" footer-tag="footer">
                <template v-slot:header>
                    <h6 class="mb-0">Manage Tags</h6>
                </template>
                <b-card-text>Add or Remove forum tags</b-card-text>
                <template v-slot:footer>
                    <b-button href="/admin/manage-tags" variant="danger" size='sm'> <i class="fa fa-tags"></i> Show</b-button>
                </template>
            </b-card>

        </b-card-group>
        
        <br>
        
        <b-card-group deck>

            <b-card title="Accounts" header-tag="header" footer-tag="footer">
                <template v-slot:header>
                    <h6 class="mb-0">Account Masterlist</h6>
                </template>
                <b-card-text>User account behavior including email confirmation, and users data.</b-card-text>
                <template v-slot:footer>
                    <b-button href="/admin/accounts-list" variant="danger" size='sm'> <i class="fa fa-users"></i> Show</b-button>
                </template>
            </b-card>

            <b-card title="Reports" header-tag="header" footer-tag="footer">
                <template v-slot:header>
                    <h6 class="mb-0">Reported Users</h6>
                </template>
                <b-card-text>List of reported users.</b-card-text>
                <template v-slot:footer>
                    <b-button href="/admin/accounts-report" variant="danger" size='sm'> <i class="fa fa-user-slash"></i> Show</b-button>
                </template>
            </b-card>

            <b-card title="Tags" header-tag="header" footer-tag="footer">
                <template v-slot:header>
                    <h6 class="mb-0">Manage Tags</h6>
                </template>
                <b-card-text>Add or Remove forum tags</b-card-text>
                <template v-slot:footer>
                    <b-button href="/admin/manage-tags" variant="danger" size='sm'> <i class="fa fa-tags"></i> Show</b-button>
                </template>
            </b-card>

        </b-card-group>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>