<template>
    <div class="container">

        <div>
            <h1>Tags</h1>
            <p>Add or remove tags from the forum</p>
        </div>
        <div>
            <b-form-input v-model="search" placeholder="Find a person"></b-form-input>
        </div>
        
        <!-- <b-table striped hover bordered 
            :items="tags" 
            :filter="search" 
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
        >
            <template v-slot:cell(html)="data"><span v-html="data.value"></span></template>
        </b-table> -->

        <table>
            <thead>
                <th>
                    <tr>
                        <td>Tag Name</td>
                        <td>Actions</td>
                    </tr>
                </th>
            </thead>
            <tbody>
                <tr v-for="tag in tags" :key='tag.id'  :current-page="currentPage" :per-page="perPage">
                    <td>{{tag.name}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            
            <div class="col-4">&nbsp;</div>
            
            <div class="col-4" style="text-align:center;">
                <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                class="accounts-page"
                ></b-pagination>
            </div>

            <div class="col-4">&nbsp;</div>

        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            tags :[],
            fields: [
                {
                    key : 'name',
                    sortable : true
                },
                {
                    key: 'actions',
                    html: '<a href="#">Button</a>'
                }
            ],
            search : null,
            currentPage : 1,
            totalRows : 1,
            perPage : 10
        }
    },
    created(){
        axios.get('/api/auth/category').then(res => {
            this.tags = res.data.data
            this.totalRows = this.tags.length
        })
    }
}
</script>

<style>

</style>