<template>
    <div class="container-fluid">
        <b-table striped hover :items="users"></b-table>
    </div>
</template>

<script>
export default {
    data(){
        return {
            users : {}
        }
    }
}
</script>

<style>

</style>