<template>
    <div class="container">
        <div class="row">
            <form action="" class="col-12">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" v-model="form.title" id="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select v-model="form.category_id" class="form-control" id="category">
                        <option value="" selected disabled></option>
                        <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <vue-simplemde v-model="form.body" ref="markdownEditor" />
                </div>
                <div>
                    <button type="button" @click="submitQuestion" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form : {
                title: '',
                category_id: '',
                body: ''
            },
            categories: {},
            errors : {}
        }
    },
    created(){
        axios.get('/api/auth/category').then(res => this.categories = res.data.data)
    },
    methods: {
        submitQuestion(){
            axios.post("/api/auth/question",this.form).then(res => {
                Vue.swal({
                    toast: true,
                    position: 'bottom-end',
                    type: 'success',
                    text: 'Question created',
                    showConfirmButton: false,
                    timer: 2000,
                    animation: false,
                    customClass: {
                        popup: 'animated bounceInUp'
                    }
                });
                this.$router.push(res.data.path) 
            })
            .catch(error => this.errors = error.response.data.error)
        }
    },
}
</script>

<style>

</style>