<template>
    <div>
        <div><strong>Tags</strong></div>
        <span v-for="(category,key) in categories" :key="key">
            <a href="#" class="badge badge-secondary">{{ category.name }}</a><span v-if="(categories.length-1) > key">,</span>
        </span>
    </div>
</template>

<script>
export default {
    data() {
        return {
            categories : {}
        }
    },
    created(){
        axios.get('/api/auth/category').then(res => this.categories = res.data.data)
    }
}
</script>

<style>

</style>