<template>
</template>

<script>
export default {
    data(){
        return {
            form : {
                body : '',
                conversation_user_id: '',
            },
            blankPage : false,
            id : '',
        }
    },
    created(){
        this.id = window.location.pathname.split("/")[2]
        axios.get(`/api/auth/chat/${this.id}`).then(res => {
            this.form.conversation_user_id = res.data.convo_id
        })
    },
    methods:{
        send(){
            // return;
            axios.post(`/api/auth/chat/send`,this.form).then( res => {
            })
        },
        scrollPosition(){
			const box = document.getElementById('chat-holder');
			box.scrollTop = box.scrollHeight;
        },
    }
}
</script>

<style>

</style>