<template>
    <div id="chat-message">
        <h3>Name</h3>
        <div class="chat-holder" id="chat-holder">
            <p v-for="chat in data.chats" :key="chat.id" class="chat">
                <span class="chat-sender" v-if="my_id == chat.from_id">Me :</span>
                <span class="chat-sender" v-else>{{ chat.from_name }} :</span>
                <span class="chat-bubble">{{ chat.body }}</span>
            </p>
        </div>
        <div>
            <input type="text" v-model="form.body" @keypress.enter="send" class="form-control form-control-lg">
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            data : {},
            my_id : '',
            blankPage : false,
            form : {
                body : '',
                conversation_user_id: '',
            },
        }
    },
    created(){
        this.id = window.location.pathname.split("/")[2]
        this.fetchNewMessage()
        this.my_id = User.id()
    },
    methods: {
        fetchNewMessage(){
            axios.get(`/api/auth/chat/get/${this.id}`).then(res => {
                this.data = res.data
                this.form.conversation_user_id = res.data.convo_id
            }).catch(error=>{
				if(error.response.status == 404){
					this.blankPage = true;
				}
			})
			.finally(() => {
                this.scrollPosition()
                this.form.body = ""
                this.pusher()
            });
        },
        send(){
            // return;
            axios.post(`/api/auth/chat/send`,this.form).then( res => {
                this.fetchNewMessage()
            })
        },
        scrollPosition(){
			const box = document.getElementById('chat-holder');
			box.scrollTop = box.scrollHeight;
        },
        pusher(){
            // Enable pusher logging - don't include this in production
            // Pusher.logToConsole = true

            var pusher = new Pusher('b8d8ffd86c119f4205af', {
                cluster: 'ap1',
                forceTLS: true
            })

            var _this = this

            var channel = pusher.subscribe('chat-channel');
            channel.bind('chat-event-'+this.data.convo_id, function(data) {
                _this.fetchNewMessage()
            })
        }
    }
}
</script>

<style>
#chat-message{
    background: #fff;
    /* min-height: 600px; */
}
.chat-holder{
    height: 550px;
    overflow-y: scroll;
}
#chat-message > h3,
#chat-message > div{
    padding: 10px;
}
.chat{
    border-bottom: 1px solid rgb(238, 236, 236);
    padding-bottom: 15px;
}
.chat-sender{
    font-weight: bold;
}
</style>