<template>
    <div class="container">
        <div class="row">
            <div id="mail-logo" class="col-lg-12 text-center">
                <img v-if="reply.status == 'true'" src="/img/mail-success.svg" alt="">
                <img v-else src="/img/mail-error.svg" alt="">
                <h1>
                    {{ reply.response }}
                </h1>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            email_code : '',
            reply : {},

        }
    },
    created(){
        this.email_code = window.location.pathname.split("/")[3]
        this.checkCode()
    },
    methods:{
        checkCode(){
            axios.get(`/api/auth/email/confirmation/${this.email_code}`)
            .then(res => this.reply = res.data)
        }
    }
}
</script>

<style>
#mail-logo img{
    width: 300px;
    margin-bottom: 30px;
}
</style>
