<template>
    <div class="container">
        <div class="row">
            <div class="col">
                Messenger
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <people></people>
            </div>
            <div class="col-9">
                <messages></messages>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-3">&nbsp;</div>
            <div class="col-9">
                <sendform></sendform>
            </div>
        </div> -->
    </div>
</template>

<script>
import people from './ChatPeople'
import messages from './ChatMessages'
import sendform from './ChatForm'
export default {
    components : {
        people,messages,sendform
    }
}
</script>

<style>

</style>