<template>
    <div class="row">
        <form action="" class="col-12">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" v-model="form.title" id="title" class="form-control">
            </div>
            <!-- <div class="form-group">
                <label for="category">Category</label>
                <select v-model="form.category_id" class="form-control" id="category">
                    <option value="" selected disabled></option>
                    <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
                </select>
            </div> -->
            <div class="form-group">
                <vue-simplemde v-model="form.body" ref="markdownEditor" />
            </div>
            <div>
                <b-button variant="primary" @click="update">Update</b-button>
                <b-button variant="secondary" @click="cancel">Cancel</b-button>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    props : ['question'],
    data(){
        return {
            form : this.question
        }
    },
    created(){
        this.listen()
    },
    methods: {
        update(){
            axios.put(`/api/auth/question/${this.form.id}`,this.form)
            .then(res => {
                this.cancel()
                let swalMessage = '';
                if(res.data != 'Updated'){
                    swalMessage = {
                        type : 'warning',
                        title : 'Error encountered while updating your question try to reload the page and try again',
                    }
                }else{
                    swalMessage = {
                        type : 'success',
                        title : 'Question successfully updated',
                    }
                }

                Vue.swal(Object.assign({
                    toast: true,
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timer: 2000,
                    animation: false,
                },swalMessage));
            })
        },
        cancel(){
            // this.editMode = false;
            EventBus.$emit('cancelEdit')
        },
        listen(){
            EventBus.$on('startEdit',()=>{
                // alert()
            })
        }
    }
}
</script>

<style>

</style>