<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Find Mentors</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input v-model="search_string" @keyup="searchMentor" type="text" class="form-control" placeholder="Search mentor by his name">
            </div>
            <!-- <div class="col-6">
                <select name="" id="" class="form-control">
                    <option value="&nbsp;">&nbsp;</option>
                    <option v-for="skill in skills" :key="skill.id">{{ skill.name }}</option>
                </select>
            </div> -->
        </div>
        <br>
        <div class="row">
            <div class="col" v-if="mentors.length <= 0">
                <h3>&#x1F62E; No mentors found</h3>
            </div>
        </div>
        <b-card-group columns>
            <b-card v-for="mentor in mentors" :key="mentor.id" :title="mentor.name" :img-src="mentor.photo_lg" img-alt="Image" img-top>
                <b-card-text>
                    <div><strong>Skill Summary:</strong> <br>{{ !mentor.skill_summary ? 'n/a' : mentor.skill_summary }}</div>
                    <div><strong>Bio:</strong><br> {{ mentor.bio }}</div>
                </b-card-text>
                <template v-slot:footer>
                    <button v-if="isFollowing(mentor.id)" class="btn btn-primary" @click="follow({mentor_id:mentor.id})">Follow</button>
                    <button v-else class="btn btn-primary" @click="unFollow({mentor_id:mentor.id})">Unfollow</button>
                    <button class="btn btn-primary" @click="showProfile(mentor.student_no)">View Profile</button>
                </template>
            </b-card>
        </b-card-group>
    </div>
</template>

<script>
export default {
    data(){
        return {
            mentors : [],
            following: [],
            search_string : "",
            // skills: {},
        }
    },
    created() {

    },
    mounted(){
        this.followedMentors()
        this.allMentors()
    },
    methods: {
        allMentors(){
            axios.get(`/api/auth/mentor`).then(res => this.mentors = res.data)
        },
        follow(obj){
            axios.post(`/api/auth/mentor`,obj).then(res => {
                Vue.swal({
                    toast: true,
                    position: 'bottom-end',
                    type: res.data.status,
                    text: res.data.message,
                    showConfirmButton: false,
                    timer: 3000,
                    animation: false,
                })
                this.followedMentors()
                // this.isFollowing(obj.mentor_id)
            })
        },
        unFollow(obj){
            axios.post(`/api/auth/mentor/unfollow`,obj).then(res => {
                Vue.swal({
                    toast: true,
                    position: 'bottom-end',
                    type: res.data.status,
                    text: res.data.message,
                    showConfirmButton: false,
                    timer: 3000,
                    animation: false,
                })
                this.followedMentors()
            })
        },
        showProfile(id){
           this.$router.push('/profile/'+id);
        },
        followedMentors(){
            axios.get(`/api/auth/mentor/following`).then(res => {
                this.following = res.data
                // let mentors = res.data
                // console.log(mentors.indexOf(id))
            })
        },
        isFollowing(id){
            if(this.following.indexOf(id) < 0){
                return true
            }
            else if(this.following.indexOf(id) >= 0){
                return false
            }
        },
        searchMentor(){
            if(this.search_string == "") {
                this.allMentors()
                return false
            }
            axios.get(`/api/auth/mentor/search/`+this.search_string).then( res => {
                this.mentors = res.data
            })
        },
        // getAllSkills(){
        //     axios.get(`/api/auth/category`).then( res => {
        //         this.skills = res.data.data
        //     })
        // }
    },
    computed:{
        str_mentors(){
            let objFriends = this.mentors;
            let str = this.search_string;

            if(!str){
                return objFriends;
            }
            str = str.trim().toLowerCase();

            objFriends = objFriends.filter(function(item){
                console.log(item.name.toLowerCase().indexOf(str))
                if(item.name.toLowerCase().indexOf(str) !== -1){
                    return item;
                }
            })
            // console.log(objFriends.length < 1 ? objFriends = [{'name':'No match name found'}] : objFriends)
            return objFriends;
        }
    }
}
</script>

<style>

</style>
