<template>
	<div class="container">
		<div class="row">
            <div class="col-2">
                <button class="btn btn-danger" @click="startDiscussion" style="width:100%;">Start a Discussion</button>
            </div>
            <div class="col-10">
                <button class="btn btn-outline-secondary"><span class="fa fa-sync-alt"></span></button>
                <Sort text="Sort" up="Newest" down="Oldest"></Sort>
            </div>
        </div>
        <br>
		<div class="row">
			<div class="col-2">
				<categories></categories>
			</div>
			<div class="col-10">
				<!-- <h3>All Questions</h3> -->
				<questions v-for="question in questions" :key="question.path"
					:question='question'
				></questions>
			</div>
		</div>
	</div>
</template>

<script>
import questions from './Questions'
import categories from './Categories'
import Sort from '../parts/Sort'
export default {
	components : {questions,categories, Sort},
	data(){
		return {
			questions : {},
			role: {},
			sortBy: '',
		}
	},
	created(){
		/** get posts */
		axios.get('/api/auth/question')
		.then(res=> this.questions = res.data.data)
	},
	methods: {
		orderBy(e){
			this.sortBy = e // not working
		},
		startDiscussion(){
			this.$router.push('/ask')
		}
	}
}
</script>

<style>

</style>
