<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>My Mentors</h1>
            </div>
            <div class="pull-right">
                <a href="/find-mentor" class="btn btn-danger"> <i class="fa fa-search"></i> Find a mentor</a>
            </div>
        </div>
        <div class="row">
            <b-card-group columns>
                <b-card v-for="mentor in mentors" :key="mentor.id" :title="mentor.name" :img-src="mentor.photo_lg" img-alt="Image" img-top>
                    <b-card-text>
                        <div><strong>Skill Summary:</strong> <br>{{ !mentor.skill_summary ? 'n/a' : mentor.skill_summary }}</div>
                        <div><strong>Bio:</strong><br> {{ mentor.bio }}</div>
                    </b-card-text>
                    <template v-slot:footer>
                        <button v-if="isFollowing(mentor.id)" class="btn btn-danger btn-sm" @click="follow({mentor_id:mentor.id})">
                            <i class="fa fa-plus"></i> Follow</button>
                        <button v-else class="btn btn-secondary btn-sm" @click="unFollow({mentor_id:mentor.id})">
                            <i class="fa fa-minus"></i> Unfollow</button>
                        <button class="btn btn-danger btn-sm" @click="showProfile(mentor.student_no)">
                            <i class="fa fa-user"></i> View Profile</button>
                        <button class="btn btn-danger btn-sm" @click="dropMessage(mentor.id)">
                            <i class="fa fa-paper-plane"></i> Send a message</button>
                    </template>
                </b-card>
            </b-card-group>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            mentors : {},
            following: {},
        }
    },
    created(){
        axios.get(`/api/auth/mentor/${User.id()}`).then(res => this.mentors = res.data )
        this.followedMentors()
    },
    methods: {
        follow(obj){
            axios.post(`/api/auth/mentor`,obj).then(res => {
                Vue.swal({
                    toast: true,
                    position: 'bottom-end',
                    type: res.data.status,
                    text: res.data.message,
                    showConfirmButton: false,
                    timer: 3000,
                    animation: false,
                })
                this.followedMentors()
            })
        },
        unFollow(obj){
            axios.post(`/api/auth/mentor/unfollow`,obj).then(res => {
                Vue.swal({
                    toast: true,
                    position: 'bottom-end',
                    type: res.data.status,
                    text: res.data.message,
                    showConfirmButton: false,
                    timer: 3000,
                    animation: false,
                })
                this.followedMentors()
            })
        },
        showProfile(id){
           this.$router.push('/profile/'+id);
        },
        followedMentors(){
            axios.get(`/api/auth/mentor/following`).then(res => {
                this.following = res.data
            })
        },
        isFollowing(id){
            if(this.following.indexOf(id) < 0){
                return true
            }
            else if(this.following.indexOf(id) >= 0){
                return false
            }
        },
        dropMessage(id){
           this.$router.push('/conversation/'+id)
        }
    }
}
</script>

<style>

</style>
