<template>
<div class="container">
    <div class="row">
        <!-- <div class="col-4">
            <h4>Public Avatar</h4>
            <p>You can change your avatar here</p>
        </div> -->
        <div class="col">
            <div class="row">
                <div class="col-3">
                    <picture class="text-center">
                        <img class="profile-pic" :src="user.photo_lg" alt="image">
                    </picture>
                </div>
                <div class="col-8">
                    <h3>{{ user.name }}</h3>
                    <p class="disabled">{{ user.email }}</p>
                    <p v-if="user.confirmed">
                        <i class="fa fa-check-circle" style="color: #38c172 "></i>
                        <strong>Verified Account</strong> </p>
                    <p v-else>
                        <i class="fa fa-exclamation-circle" style="color: #e3342f "></i>
                        <strong>Unverfied Account</strong> (<a href="#">re-send verification code</a>)</p>
                    <p>{{ user.mood }}</p>
                </div>
                <div class="col-1">
                    <a class="btn btn-primary" href="/settings/profile">Update</a>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-4">
            <h4>Skill Summary</h4>
        </div>
        <div class="col-8">
            <p>{{ user.skill_summary }}</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-4">
            <h4>Streaming Settings</h4>
        </div>
        <div class="col-8">
            <p><strong>Discord:</strong>{{ user.discord }}</p>
            <p><strong>Facebook Live:</strong>{{ user.facebook_live }}</p>
            <p><strong>Twitch:</strong>{{ user.twitch }}</p>
            <p><strong>Mixer:</strong>{{ user.mixer }}</p>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-4">
            <h4>Others</h4>
            <!-- <p>This information will appear on your profile</p> -->
        </div>
        <div class="col-8">
            <p><strong>Skype</strong> {{ user.skype }}</p>
            <p><strong>Linkedin</strong> {{ user.linkedin }}</p>
            <p><strong>Twitter</strong> {{ user.twitter }}</p>
            <p><strong>Website</strong> {{ user.website }}</p>
            <p><strong>Organization</strong> {{ user.organization }}</p>
            <p><strong>Bio</strong> {{ user.bio }}</p>
            </b-form-group>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data(){
        return {
            user : {},
            request: {
                photo : null
            },
            uploadProgress: '',
            picture : '',
        }
    },
    created(){
        this.getProfile();
    },
    methods: {
        getProfile(){
            axios.get(`api/auth/profile`)
            .then(res => this.user = res.data)
        },
        // update(obj){
        //     // let newObj = Object.assign({'id':,obj});
        //     axios.put(`api/auth/profile/${User.id()}`,obj).then(res => {
        //         Vue.swal({
        //             toast: true,
        //             position: 'bottom-end',
        //             type: 'success',
        //             text: 'Profile changed',
        //             showConfirmButton: false,
        //             timer: 2000,
        //             animation: false,
        //         });
        //     })
        // },
        // changeAvatar(e){
        //     /** form data format much better */
        //     this.request.photo = e.target.files[0];
        //     var fd = new FormData();
        //     fd.append('photo',this.request.photo,this.request.photo.name);
        //     // console.log(this.request.photo)
        //     axios.post('/api/auth/profile/upload/avatar',fd,{
        //         onUploadProgress: uploadEvent => {
        //             this.uploadProgress = Math.round(uploadEvent.loaded / uploadEvent.total * 100)+"%";
        //         }
        //     }).then(res=>{
        //         this.user.photo_lg = res.data.big
        //         /** sweet alert */
        //         Vue.swal({
        //             toast: true,
        //             position: 'bottom-end',
        //             type: res.data.status,
        //             title: res.data.message,
        //             showConfirmButton: false,
        //             timer: 2000,
        //             animation: false,
        //         });
        //     })
        //     .catch(err => {
        //         let err_code = err.response.status;
        //         let title = "";
        //         if(err_code == 413){
        //             title = "Image is too large";
        //         }else { title = "Unknown server error reloading the page might fix the problem" }
        //         Vue.swal({
        //             toast: true,
        //             position: 'bottom-end',
        //             type: 'error',
        //             title: title,
        //             showConfirmButton: false,
        //             timer: 2000,
        //             animation: false,
        //         });
        //     });
        // }
    }
}
</script>

<style>
label[for='change-avatar']{
    cursor: pointer;
    color: blue;
}
</style>
