<template>
	<div class="card mb-3">
		<div class="row no-gutters">
			<div class="col-12">
				<div class="card-body question">

					<div class="question-top-heading">
						<div>
							<img :src="question.user_img" alt="" class="small_img">
							<a :href="question.path">{{ question.title }}</a>
							<small class="text-muted author">
								{{ question.created_at }} by <a href="#">{{ question.user_name }}</a>
							</small>
						</div>
					</div>

					<!-- <h5 class="card-title">
						<img :src="question.user_img" alt="">
						<a :href="question.path">{{ question.title }}</a>
					</h5> -->
					<p class="card-text" v-html="$options.filters.shorten(body)"></p>
					<div><a href="#" class="badge badge-primary card-title-tag">#{{ question.tag }}</a></div>
					<!-- <p class="card-text"><small class="text-muted">Last updated {{ question.created_at }} by <a :href="'/profile/'+question.user_code">{{ question.user_name }}</a></small></p> -->

					<a href="#" class="card-link"> <i class="fa fa-thumbs-up"></i> Like </a>
    				<a :href="question.path" class="card-link"> <i class="fa fa-comment"></i>
						{{ question.replies_count }} {{ 'Answer' | plural('s',question.replies_count) }} </a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props : ['question'],
	computed: {
		body(){
			return md.parse(this.question.body);
		}
	},
}
</script>

<style>
.card-title-tag{
	color: #fff !important;
}
.question-top-heading a{
	color: #222;
}
.question-top-heading img{
	width: 40px;
    height: 40px;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}
.left-info{
	padding: 10px 0;
}
.left-info > p{
	text-align: center;
}
.question .text-muted a{
	color: #6c757d !important;
}
.question .card-link{
	color: #e3342f;
}
</style>
