<template>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h4>Public Avatar</h4>
            <p>You can change your avatar here</p>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-3">
                    <picture class="text-center">
                        <img class="profile-pic" :src="user.photo_lg" alt="image">
                    </picture>
                </div>
                <div class="col-9">
                    <label for="change-avatar"> <span class="fa fa-image"></span> Change Avatar {{ uploadProgress }}</label>
                    <input type="file" id="change-avatar" @change="changeAvatar" hidden>
                    <div>Maximum file size : 10mb</div> 
                </div>
            </div>
        </div>
    </div>
    <hr>
    
    <div class="row">
        <div class="col-4">
            <h4>Current Status</h4>
            <p>This message will appear on your profile</p>
        </div>
        <div class="col-8">
            <b-form-group
                id="fieldset-horizontal"
                label="What's your mood"
                label-for="mood"
            >
                <b-form-input v-model="user.mood" @change="update({'mood':user.mood})" id="mood"></b-form-input>
            </b-form-group>
        </div>
    </div>  
    <hr>

    <div class="row">
        <div class="col-4">
            <h4>Skill Summary</h4>
            <p>List all your skills</p>
        </div>
        <div class="col-8">
            <b-form-group
                id="fieldset-horizontal"
                label="Skills"
                label-for="skill_summary"
            >
                <b-form-textarea v-model="user.skill_summary" @change="update({'skill_summary':user.skill_summary})" id="skill_summary"></b-form-textarea>
            </b-form-group>
        </div>
    </div>  
    <hr>

    <div class="row">
        <div class="col-4">
            <h4>Streaming Settings</h4>
            <p>We recommend to use streaming software such as <a href="https://obsproject.com/">OBS Studio</a> or <a href='https://www.xsplit.com'>XSplit.</a></p>
            <p>And choose your collaboration software to share your streaming link like <a href='https://discordapp.com/'>Discord</a>, <a href='https://www.facebook.com/live/create'>Facebook Live</a>, <a href="https://www.twitch.tv/">Twitch</a> or, <a href="https://mixer.com/">Mixer</a>.</p>
        </div>
        <div class="col-8">
            <b-form-group
                id="fieldset-horizontal"
                label="Discord Profile"
                label-for="discord"
            >
                <b-form-input v-model="user.discord" @change="update({'discord':user.discord})" id="discord"></b-form-input>
            </b-form-group>
            <b-form-group
                id="fieldset-horizontal"
                label="Facebook live"
                label-for="facebook_live"
            >
                <b-form-input v-model="user.facebook_live" @change="update({'facebook_live':user.facebook_live})" id="facebook_live"></b-form-input>
            </b-form-group>
            <b-form-group
                id="fieldset-horizontal"
                label="Twitch"
                label-for="twitch"
            >
                <b-form-input v-model="user.twitch" @change="update({'twitch':user.twitch})" id="twitch"></b-form-input>
            </b-form-group>
            <b-form-group
                id="fieldset-horizontal"
                label="Mixer"
                label-for="mixer"
            >
                <b-form-input v-model="user.mixer" @change="update({'mixer':user.mixer})" id="mixer"></b-form-input>
            </b-form-group>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-4">
            <h4>Main Settings</h4>
            <p>This information will appear on your profile</p>
        </div>
        <div class="col-8">
            <b-form-group id="fieldset-horizontal" label="Name" label-for="name">
                <b-form-input v-model="user.name" @change="update({'name':user.name})" id="name"></b-form-input>
            </b-form-group>
            <b-form-group id="fieldset-horizontal" label="Email" label-for="email">
                <b-form-input v-model="user.email" id="email" disabled></b-form-input>
            </b-form-group>
            <b-form-group id="fieldset-horizontal" label="Skype" label-for="skype">
                <b-form-input v-model="user.skype" @change="update({'skype':user.skype})" id="skype"></b-form-input>
            </b-form-group>
            <b-form-group id="fieldset-horizontal" label="Linkedin" label-for="linkedin">
                <b-form-input v-model="user.linkedin" @change="update({'linkedin':user.linkedin})" id="linkedin"></b-form-input>
            </b-form-group>
            <b-form-group id="fieldset-horizontal" label="Twitter" label-for="twitter">
                <b-form-input v-model="user.twitter" @change="update({'twitter':user.twitter})" id="twitter"></b-form-input>
            </b-form-group>
            <b-form-group id="fieldset-horizontal" label="Website URL" label-for="website">
                <b-form-input id="website" v-model="user.website" @change="update({'website':user.website})"></b-form-input>
            </b-form-group>
            <b-form-group id="fieldset-horizontal" label="Organization" label-for="organization">
                <b-form-input id="organization" v-model="user.organization" @change="update({'organization':user.organization})"></b-form-input>
            </b-form-group>
            <b-form-group id="fieldset-horizontal" label="Bio" label-for="bio">
                <b-form-textarea id="bio" v-model="user.bio" @change="update({'bio':user.bio})"></b-form-textarea>
            </b-form-group>
        </div>
    </div>  
</div>
</template>

<script>
export default {
    data(){
        return {
            user : {},
            request: {
                photo : null
            },
            uploadProgress: '',
            picture : '',
        }
    },
    created(){
        this.getProfile();
    },
    methods: {
        getProfile(){
            axios.get(`/api/auth/profile`)
            .then(res => this.user = res.data)
        },
        update(obj){
            axios.put(`/api/auth/profile/${User.id()}`,obj).then(res => {
                Vue.swal({
                    toast: true,
                    position: 'bottom-end',
                    type: 'success',
                    text: 'Profile changed',
                    showConfirmButton: false,
                    timer: 2000,
                    animation: false,
                });
            })
        },
        changeAvatar(e){
            /** form data format much better */
            this.request.photo = e.target.files[0];
            var fd = new FormData();
            fd.append('photo',this.request.photo,this.request.photo.name);
            // console.log(this.request.photo)
            axios.post('/api/auth/profile/upload/avatar',fd,{
                onUploadProgress: uploadEvent => {
                    this.uploadProgress = Math.round(uploadEvent.loaded / uploadEvent.total * 100)+"%";
                }
            }).then(res=>{
                this.user.photo_lg = res.data.big
                /** sweet alert */
                Vue.swal({
                    toast: true,
                    position: 'bottom-end',
                    type: res.data.status,
                    title: res.data.message,
                    showConfirmButton: false,
                    timer: 2000,
                    animation: false,
                });
            })
            .catch(err => {
                let err_code = err.response.status;
                let title = "";
                if(err_code == 413){
                    title = "Image is too large";
                }else { title = "Unknown server error reloading the page might fix the problem" }
                Vue.swal({
                    toast: true,
                    position: 'bottom-end',
                    type: 'error',
                    title: title,
                    showConfirmButton: false,
                    timer: 2000,
                    animation: false,
                });
            });
        }
    }
}
</script>

<style>
label[for='change-avatar']{
    cursor: pointer;
    color: blue;
}
</style>