<template>
<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <picture>
                <img class="profile-pic" :src="someone.photo_lg" alt="image">
            </picture>
            <div>
                <p>{{ someone.mood }}</p>
            </div>
        </div>
        <div class="col-9">
            <div>
                <h2>Name</h2>
                <p>{{ someone.name }}</p>
            </div>
            <div>
                <h2>Skill Summary</h2>
                <p>{{ someone.skill_summary ? someone.skill_summary : 'n/a' }}</p>
            </div>
            <div id="div-streaming-links">
                <h2>Streaming Links</h2>
                <p><strong>Discord: </strong><a :href="someone.discord">{{ someone.discord }}</a></p>
                <p><strong>Facebook Live: </strong><a :href="someone.facebook_live">{{ someone.facebook_live }}</a></p>
                <p><strong>Twitch: </strong><a :href="someone.twitch">{{ someone.twitch }}</a></p>
                <p><strong>Mixer: </strong><a :href="someone.mixer">{{ someone.mixer }}</a></p>
            </div>
            <div id="div-social-links">
                <h2>Socials</h2>
                <p><strong>Contact Email:</strong> {{ someone.email }}</p>
                <p><strong>Skype:</strong> {{ someone.skype }}</p>
                <p><strong>Linkedin:</strong> {{ someone.linkedin }}</p>
                <p><strong>Twitter:</strong> {{ someone.twitter }}</p>
                <p><strong>Website url:</strong> {{ someone.website }}</p>
                <p><strong>Organization:</strong> {{ someone.organization }}</p>
                <p><strong>Bio:</strong> {{ someone.bio }}</p>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data(){
        return {
            someone : {}
        }
    },
    created(){
        this.someoneProfile();
    },
    methods: {
        someoneProfile(){
            axios.get(`/api/auth/profile/${this.$route.params.user_code}`)
            .then(res => {
                this.someone = res.data;
            });
        }
    }
}
</script>

<style>
#div-streaming-links strong{
    display: inline-block;
    width: 120px;
}
#div-social-links strong{
    display: inline-block;
    width: 120px;
}
</style>