<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Students</h3>
                <small>List of students that is following you.</small>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Search student...">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table" id="table-students">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Student No</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="student in followers" :key="student.key">
                            <td>
                                <img :src="student.photo_sm">
                                <span>{{ student.name }}</span>
                            </td>
                            <td>{{ student.student_no }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" :href="'/profile/'+student.student_no"> 👱🏼 View profile</a>
                                <a :href="'/conversation/'+student.id" class="btn btn-primary btn-sm">✉️ Send message</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            students : {},
            searchString: '',
        }
    },
    created(){
        axios.get(`api/auth/student/all`).then(res => this.students = res.data)
    },
    computed:{
        followers(){
            let objStudents = this.students;
            let str = this.searchString;

            if(!str){
                return objStudents;
            }
            str = str.trim().toLowerCase();
            // console.log(str)
            objStudents = objStudents.filter(function(item){
                if(item.name.toLowerCase().indexOf(str) !== -1){
                    return item;
                }
            })
            return objStudents;
        }
    },
}
</script>

<style>
#table-students tbody img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#table-students tbody tr td:not(:first-child){
    line-height: 3.5;
}
</style>
