<template>
<div class="container">
    <div style="margin-bottom:10px;">
        <a href="#" class="btn btn-sm btn-danger" onclick="history.go(-1)"> <i class="fa fa-chevron-left"></i> Back</a>
    </div>

    <div v-if="editMode">
        <EditQuestion :question='question'></EditQuestion>
    </div>

    <div v-else>
        
        <div class="card">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="card-body" v-if="question">
                        <div class="question-top-heading">
                            <div>
                                <img :src="question.user_img" alt="" class="small_img">
                                {{ question.title }}
                                <small class="text-muted author">
                                    {{ question.created_at }} by <a href="#">{{ question.user_name }}</a>
                                </small>
                            </div>
                        </div>
                        
                        <!-- <h5 class="card-title">
                            <img :src="question.user_img" alt="" class="small_img">
                            {{ question.title }}
                        </h5> -->

                        <p class="card-text" v-html="body"></p>

                        <div><a href="#" class="badge badge-primary card-title-tag">#{{ question.tag }}</a></div>
                        <!-- <p class="card-text"><small class="text-muted">Last updated {{ question.created_at }} by {{ question.user_name }}</small></p> -->
                        <!-- <p> -->
                            <ul class='like-comments-count'>
                                <li>
                                    <small> <a href='#'>  <span class="fa fa-thumbs-up"></span> like</a></small>
                                </li>
                                <li>
                                    <small> <span class="fa fa-comment"></span> {{ question.replies_count }} {{ 'Answer' | plural('s',question.replies_count) }} </small>
                                </li>
                                <li v-if="isMyQuestion">
                                    <small @click="edit" class="a-link"> <span class="fa fa-pencil"></span> Edit</small>
                                </li>
                                <!-- <li v-if="isMyQuestion">
                                    <small @click="remove" class="a-link"> <span class="fa fa-trash"></span> Remove</small>
                                </li> -->
                            </ul>
                        <!-- </p> -->
                    </div>
                </div>
            </div>
        </div>
    
        <div v-for="reply in replies" :key="reply.id"  class="col-12">
            <!-- <hr> -->
            <div class="">
                <p class=""><img :src="reply.user_img" alt="" class="small_img">
                    <a :href="'/profile/'+reply.student_no">

                        {{ reply.user }}</a>
                </p>
                <p class="" v-html="renderText(reply.reply)"></p>
                <small class="text-muted">{{ reply.created_at }}</small>
            </div>
        </div>
    </div>

    <br>
    <!-- replies part -->
    <form action="">
        <div class="form-group">
            <vue-simplemde ref="markdownEditor" v-model="form.body" :configs="configs"/>
        </div>
        <div>
            <button type="button" @click="postReply()" class="btn btn-danger">Post reply <i class="fa fa-send"></i> </button>
        </div>
    </form>
</div>
</template>

<script>
import EditQuestion from './EditQuestion'
export default {
    components : {EditQuestion},
    data() {
        return {
            question : null,
            replies : {},
            configs: {
                toggleFullScreen : false
            },
            editMode: false,
            form : {
                body : '',
            }
            // own: User.isOwn(this.question.user)
        }
    },
    created(){
        this.getQuestion();
        this.busListener();
        // this.getreplies();
    },
    computed: {
        body(){
            return md.parse(this.question.body);
        },
        isMyQuestion(){
            return User.isOwn(this.question.user_id)
        }
    },
    methods: {
        busListener(){
            EventBus.$on('cancelEdit',()=>{
                this.editMode = false;
            })
        },
        getQuestion(){
            /**
             * get question by slug
             */
            axios.get(`/api/auth/question/${this.$route.params.id}/${this.$route.params.slug}`)
            .then(res => {
                this.question = res.data.data
                this.replies = res.data.data.replies
                // console.log(this.question)
            })
            .catch(res => {
                this.$router.push({name:'404'})
            })
        },
        remove(){
            axios.delete('/api/auth/question/'+this.question.slug)
            .then(res => {
                Vue.swal({
                    toast: true,
                    position: 'bottom-end',
                    type: 'success',
                    text: 'Question removed',
                    showConfirmButton: false,
                    timer: 2000,
                    animation: false,
                    customClass: {
                        popup: 'animated bounceInUp'
                    }
                });
                this.$router.push('/home')
            })
            .catch(error => {
                console.log(error.response.data)
            })
        },
        edit(){
            this.editMode = true;
            EventBus.$emit('startEdit')
        },
        update(){
            // look for the EditQuestion.vue
        },
        postReply(){
            this.form = Object.assign(this.form,{question_id:this.question.id})
            // console.log(this.form)
            axios.post(`/api/auth/post/reply`,this.form).then(res => {
                this.getQuestion()
                Vue.swal({
                    toast: true,
                    position: 'bottom-end',
                    type: 'success',
                    title: "Answer successfully posted",
                    showConfirmButton: false,
                    timer: 2000,
                    animation: false,
                });
            })
        },
        renderText(text){
            return md.parse(text)
        }
    }
}
</script>

<style>
.small_img{
	width: 40px;
    height: 40px;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}
.CodeMirror, .CodeMirror-scroll {
	min-height: 100px;
}
.left-info{
  padding: 10px 0;
}
.left-info > p{
  text-align: center;
}
</style>
