
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// font-awesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// vue textbox with controls
@import '~simplemde/dist/simplemde.min.css';
// sweet alert
@import '~sweetalert2/dist/sweetalert2.min.css';
// animate css
@import '~animate.css/animate.min.css';
// vue select
@import "node_modules/vue-select/src/scss/vue-select.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// *{
//   font-family: 'Roboto', sans-serif;
// }

body{
  // padding-top: 4.5rem; // put body padding to fixed the fixed nav bar
}

.card-body{
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.07);
}

.like-comments-count{
  list-style: none;
  padding: 0;
  margin: 0;
  *{
    color: blueviolet !important;
  }
  li{
    display: inline-block;
    margin-right: 15px;
  }
}

.a-link{
  cursor: pointer;
}

img.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

h1,h2,h3,h4,h5,h5{
  font-weight: bold;
}

/**
* not found page
**/
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0px auto 50px;
}

.notfound .notfound-404>div:first-child {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffa200;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 5px dashed #000;
  border-radius: 5px;
}

.notfound .notfound-404>div:first-child:before {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
  border-radius: 5px;
}

.notfound .notfound-404 h1 {
  font-family: 'Cabin', sans-serif;
  color: #000;
  font-weight: 700;
  margin: 0;
  font-size: 90px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.notfound p {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.notfound a {
  font-family: 'Cabin', sans-serif;
  display: inline-block;
  padding: 10px 25px;
  background-color: #8f8f8f;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #2c2c2c;
}

.question-top-heading{
  // display: flex;
  margin-bottom: 30px;
  > div{
    // -ms-flex: 1;
    // flex: 1;
    font-size: 1.8em;
    font-weight: bold;
    small.author{
      display: inherit;
      line-height: 0;
      padding-left: 50px;
      margin-top: 0px;
      font-size: 12px;
    }
  }
}