<template>
    <div class="div-sorting">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ text }}</button>
        <span>{{ sortBy }}</span>
        <ul class="dropdown-menu">
            <li class="dropdown-item">{{ up }}</li>
            <li class="dropdown-item">{{ down }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    props: ['text','sortBy','up','down']
}
</script>

<style>
.div-sorting{
    display: inline-block;
}
.div-sorting ul.dropdown-menu li{
    cursor: pointer;
}
</style>
