<template>
<div>
    <b-form @submit.prevent="login()" class="form-signin">
        <!-- <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h1 class="h3 mb-3">Sign in</h1>

        <b-alert show variant="danger" v-if="responseText && responseText.statusText == 'Unauthorized'">
            <h4 class="alert-heading">{{ responseText.statusText }} login</h4>
            <hr>
            <p class="mb-0">
                Incorrect username or password
            </p>
        </b-alert>

        <label for="student-no" class="sr-only">Student Number</label>
        <input type="text" id="student-no" v-model="form.student_no" class="form-control" placeholder="Student No." required autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" v-model="form.password" class="form-control" placeholder="Password" required>

        <!-- <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </b-form>
</div>
</template>

<script>
export default {
    data(){
        return {
            form : {
                student_no : null,
                password : null,
                role: null,
            },
            responseText: null,
        }
    },
    methods: {
        login(){
            axios.post('/api/auth/login',this.form)
            .then(res => {
                console.log(res)
                User.responseAfterLogin(res)
            })
            .catch(err => {
                this.responseText = err.response;
            })
            .finally(() => {
                
            })
        }
    },
    created(){
        /**
         * if user is already logged in
         */
        if(User.loggedIn()){
            this.$router.push({name:'home'})
        }
    },
}
</script>

<style>
.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>