<template>
<div class="">
    <b-form @submit.prevent="signup()" class="form-signup">
        <h1 class="h3 mb-3">Sign up</h1>

        <!-- <div class="alert" :class="alert.type" role="alert" v-if="alert">
            <h4 class="alert-heading">Register</h4>
            <hr>
            <p class="mb-0">
                {{ alert.message }}
            </p>
        </div> -->
        
        <b-form-group id="" label="Student Number:" label-for="student_no">
            <div :class="alert.type" v-if="alert && alert.message.student_no">
                <div v-for="(message,key) in alert.message.student_no" :key="key"> {{ message }} </div>
            </div>
            <b-form-input id="student_no" v-model="form.student_no" type="text" class="form-control-lg"  placeholder="Student No." ></b-form-input>
        </b-form-group>

        <b-form-group id="" label="Full Name:" label-for="name">
            <div :class="alert.type" v-if="alert && alert.message.name">
                <div v-for="(message,key) in alert.message.name" :key="key"> {{ message }} </div>
            </div>
            <b-form-input id="name" v-model="form.name" type="text" class="form-control-lg"  placeholder="Full Name" ></b-form-input>
        </b-form-group>

        <b-form-group id="" label="Email address:" label-for="email">
            <div :class="alert.type" v-if="alert && alert.message.email">
                <div v-for="(message,key) in alert.message.email" :key="key"> {{ message }} </div>
            </div>
            <b-form-input id="email" v-model="form.email" type="text" class="form-control-lg"  placeholder="Email" ></b-form-input>
        </b-form-group>

        <b-form-group id="" label="Password:" label-for="password">
            <div :class="alert.type" v-if="alert && alert.message.password">
                <div v-for="(message,key) in alert.message.password" :key="key"> {{ message }} </div>
            </div>
            <b-form-input id="password" v-model="form.password" type="password" class="form-control-lg"  placeholder="Password"></b-form-input>
        </b-form-group>

        <b-form-group id="" label="" label-for="password2">
            <div :class="alert.type" v-if="alert && alert.message.compaired_password">
                <div v-for="(message,key) in alert.message.compaired_password" :key="key"> {{ message }} </div>
            </div>
            <b-form-input id="password2" v-model="form.compaired_password" type="password" class="form-control-lg"  placeholder="Re-type Password"></b-form-input>
        </b-form-group>

        <b-form-group id="" label="Role:" label-for="password2">
            <div :class="alert.type" v-if="alert && alert.message.role">
                <div v-for="(message,key) in alert.message.role" :key="key"> {{ message }} </div>
            </div>
            <b-form-select v-model="form.role" :options="roleOptions" size="lg" ></b-form-select>
        </b-form-group>
        
        <b-button class="btn btn-lg btn-primary btn-block" type="submit" variant="primary">Register</b-button>
    </b-form>
    
</div>
</template>

<script>
export default {
    data(){
        return {
            form : {
                email : null,
                student_no : null,
                password : null,
                compaired_password: null,
                name : null,
                role : null,
            },
            alert : null,
            roleOptions:[
                { value: null, text: 'Please select an option', disabled: true },
                { value: 4, text: 'Student' },
                { value: 3, text: 'Mentor' },
            ]
        }
    },
    methods:{
        signup(){
            axios.post('/api/auth/signup',this.form)
            .then(res => {
                User.responseAfterLogin(res)
                this.$router.push({name:'signup_complete'})
            })
            .catch(err => {
                this.alert = {
                    type : {
                        'text-danger' : true
                    },
                    message : err.response.data.errors
                };
            })
        }
    },
    created(){
        if(User.loggedIn()){
            this.$router.push({name:'home'})
        }
    },
}
</script>

<style>
.form-signup {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}
</style>